@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Oswald:wght@200&family=Poppins:wght@200&family=Slabo+27px&display=swap');
body{
    background:url('https://source.unsplash.com/720x1800/?ocean');
    background-size: cover;
}
.form-control:focus{
    box-shadow: none;

}
#search_information{
    border-radius: 0;
    width: 100%;
    background-color: white;
    border: 1px none;
    margin-left: 0%;
    margin-top: 50px;
}
#p1{
    padding: 10px 0;
    font-size: 15px;
    color: rgb(0, 0, 0);
    
}
p{
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}
.p2{
    font-size: 13px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 50px;
    color: rgb(130, 130, 130);
}
.p3{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 0;
}

.mt{
    margin-top: 30px;
}
.p22{
    padding: 10px 0px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    
}
@media only screen and (max-width:500px){
    body{
        background-size: cover;
    }
    h5{
        margin-left: 30%;
    }
}